@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

ul {
  list-style: none;
  padding:    0;
  margin:     0;
}

.container {
  position:  fixed;
  top:       25%;
  left:      50%;
  transform: translate(-50%, -50%);
}

.btn {
  outline:         0;
  display:         inline-flex;
  align-items:     center;
  justify-content: space-between;
  background:      #5380f7;
  min-width:       260px;
  border:          0;
  border-radius:   4px;
  box-shadow:      0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing:      border-box;
  padding:         16px 20px;
  color:           #ffffff;
  font-size:       12px;
  font-weight:     600;
  letter-spacing:  1px;
  text-transform:  uppercase;
  overflow:        hidden;
  cursor:          pointer;
}

.dropdown-wrapper.open .dropdown {
  transform:  translate(0, 20px);
  opacity:    1;
  visibility: visible;
}

.btn .material-icons {
  border-radius: 100%;
  animation:     ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}
